<hr class="endAbout" />
<div class="info" id="info">
  <p class="title">Sobre mí</p>
  <p class="subTitleAbout">
    Soy una apasionada del desarrollo web con especialización en Frontend. Me
    destaco en React, Angular, TypeScript y SQL, y disfruto creando interfaces
    intuitivas y atractivas, con un enfoque de diseño responsivo y aplicando buenas prácticas en el desarrollo. Me encanta aprender nuevas habilidades, así como también profundizar en mis conocimientos ya adquiridos. Siempre estoy buscando oportunidades para crecer profesionalmente y de enfrentar nuevos desafíos que me permitan seguir desarrollándome en el mundo de la tecnología.
  </p>
</div>
<hr class="endInfo" />
