<hr class="endAbout" />
<div class="info" id="info">
  <p class="title">Sobre mí</p>
  <p class="subTitleAbout">
  Soy desarrolladora web especializada en Frontend, con experiencia en React y Angular. Me enfoco en crear interfaces modernas, accesibles y adaptables a distintos dispositivos, priorizando siempre la experiencia del usuario. Me motiva construir soluciones intuitivas y funcionales, aplicando buenas prácticas de desarrollo y diseño responsive. Disfruto aprender nuevas tecnologías y perfeccionar mis conocimientos, buscando constantemente oportunidades que me desafíen y me impulsen a seguir creciendo, tanto a nivel profesional como personal.
  </p>
</div>
<hr class="endInfo" />
