<section class="tech" id="tech">
  <h1 class="title">Tecnologías</h1>
  <div class="techStack">
    <div class="html">
      <img [src]="html.src" [alt]="html.alt" [class]="class" />
    </div>
    <div class="css">
      <img [src]="css.src" [alt]="css.alt" [class]="class" />
    </div>
    <div class="tailwind" >
        <img [src]="tailwind.src" [alt]="tailwind.alt" [class]="class">
    </div>
    <div class="javascript">
        <img [src]="javascript.src" [alt]="javascript.alt" [class]="class">
    </div>
    <div class="react">
        <img [src]="react.src" [alt]="react.alt" [class]="class">
    </div>
    <div class="typescript" >
        <img [src]="typescript.src" [alt]="typescript.alt" [class]="class">
    </div>
    <div class="sql">
        <img [src]="sql.src" [alt]="sql.alt" [class]="class">
    </div>
    <div class="angular">
        <img [src]="angular.src" [alt]="angular.alt" [class]="class">
    </div>
  </div>
</section>
<hr class="endTech">
