<div class="footer">
  <footer>
    <a href="mailto:serranomilagros23@gmail.com" class="mail"
      ><img [src]="mail.src" [alt]="" [width]="width" />{{ mail.address }}</a
    >
    <a [href]="github.url" class="gitHub"
      ><img [src]="github.src" [alt]="github.alt" [width]="width" /><img
        [src]="github.src2"
        [alt]="github.alt"
        [width]="width"
      />{{ github.alt }}</a
    >
    <a [href]="linkedin.url" class="linkedin"
      ><img [src]="linkedin.src" [alt]="linkedin.alt" [width]="width" /><img
        [src]="linkedin.src2"
        [alt]="linkedin.alt"
        [width]="width"
      />{{ linkedin.alt }}</a
    >
  </footer>
</div>
