.profilePic {
  background-image: url('/assets/images/profilePic.jpg');
  background-size: auto 460px;
  border: none;
}
svg {
  @apply h-6;
}

@media (max-width: 1050px) {
  .about {
    @apply gap-28 p-36;
  }
}

@media (max-width: 1020px) {
  .about {
    @apply flex-col;
  }
  .profilePic {
    @apply w-400;
    background-size: auto 460px;
  }
  .description {
    @apply flex flex-col items-center;
  }
  .subTitle {
    @apply text-lg;
  }
}

@media (max-width: 590px) {
  .about {
    @apply px-4;
  }
  .profilePic {
    @apply size-300;
    background-size: auto 360px;
  }
  .title {
    @apply text-2xl;
  }
  .subTitle {
    @apply text-base;
  }
}

@media (max-width: 390px) {
  .about {
    @apply gap-20;
  }
  .profilePic {
    @apply size-200 shadow-xl;
    background-size: auto 220px;
  }
  .title {
    @apply text-lg;
  }
  .subTitle {
    @apply text-sm;
  }
  .location img:nth-child(1),
  .social-buttons img {
    @apply w-4;
  }
}

