<section class="about" id="about">
  <div class="profilePic"></div>
  <div class="description">
    <p class="title">¡Hola, soy Milagros! 👋🏻</p>
    <p class="subTitle">Estudiante de Programación Full-Stack</p>
    <p class="location">
      <img [src]="location.src" [alt]="location.alt" [width]="width" /> Mar del
      Plata, Argentina.
    </p>
    <div class="btnsAbout">
      <div class="btnsLink">
        <a href="mailto:serranomilagros23@gmail.com" class="mail"
        ><img [src]="mail.src" [alt]="" [width]="width" />{{ mail.address }}</a
        >
        <a [href]="github.url" class="gitHub"
        ><img [src]="github.src" [alt]="github.alt" [width]="width" /><img
        [src]="github.src2"
        [alt]="github.alt"
        [width]="width"
        /></a>
        <a [href]="linkedin.url" class="linkedin"
        ><img [src]="linkedin.src" [alt]="linkedin.alt" [width]="width" /><img
        [src]="linkedin.src2"
        [alt]="linkedin.alt"
        [width]="width"
        /></a>
      </div>
      <a
        href="milagrosSerranoCV.pdf"
        class="cv"
        download="milagrosSerranoCV.pdf"
        ><img [src]="cv.src" [alt]="cv.alt" [width]="width"/>Descarga mi CV</a>
    </div>
  </div>
</section>
